body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

h1 {
    color: limegreen;
    font-family: 'Times New Roman', serif;
    font-size: 28px;
}

h2 {
    color: limegreen;
    font-size: 22px;
    font-family: 'Times New Roman', serif;
}

p {
    text-align: justify;
}

img {
    width: 18.75rem;
    border: 8px solid limegreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.font-style-italic {
    font-style: italic;
}

#citacao-italico{
    font-style: italic;
    text-align: justify;
    margin-left: 3.75rem;
    margin-right: 0;
}

#voce-sabia{
    padding: 0.6rem;
    border: 0.19rem solid limegreen;
    background-image: url('../imagens/fundo.png');
}

p::selection,
h1::selection,
h2::selection,
a::selection,
b::selection,
em::selection,
blockquote::selection,
q::selection {
	background: yellow;
}
