html{
    height: 100%;
}

body {
    margin: 10%;
    background-image: url('../imagens/desenho-loucao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

h1 {
    color: limegreen;
    font-family: 'Times New Roman', serif;
    font-size: 28px;
}

table {
    width: 600px;
    text-align: center;
    margin:auto;
    border-collapse: collapse;
}

thead{
    background-color: gray;
    color:white;
}

td, th {
    border: 1px solid black;
}